<h1><b>Hello angular query</b></h1>

@if (!users) {
    <button (click)="getUsers()">Get Users</button>

}

@if (users) {
    <div>
        <table>
          <tr>
            <th>Name</th>
            <th>Full name</th>
            <th>Email</th>
          </tr>
      
          @for (user of users.data(); track $index) {
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.email }}</td>
          </tr>
          }
        </table>
      </div>
      
}
